  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-file-earmark-post"></i>
          <span>Posts</span>
        </a>
      </li><!-- End Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" id="categories" href="/admin/categories">
          <i class="bi bi-menu-button-wide active"></i>
          <span>Categories</span>
        </a>
      </li><!-- End Profile Page Nav -->
	  <li class="nav-item footer">
		<a class="nav-link collapsed" id="Logout" href="/admin/logout">
		  <i class="bi bi-box-arrow-in-right"></i>
		  <span>Logout</span>
		</a>
	  </li>
    </ul>

  </aside><!-- End Sidebar-->
