<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    {{> admin/_header }}
    {{> admin/_sidebar }}
    <main id="main" class="main">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Edit post</h5>
                <!-- Floating Labels Form -->
                <form class="row g-3" action="/admin/posts/{{post.id}}" method="post">
                  <input type="hidden" name="post_id" value="{{post.id}}" />
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" value="{{post.title}}" name="title" class="form-control" id="floatingName" placeholder="Title" required>
                      <label for="floatingName">Title</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <textarea class="form-control" name="description" placeholder="Address" id="floatingTextarea" style="height: 100px;">{{post.description}}</textarea>
                      <label for="floatingTextarea">Body</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating mb-3">
                      <select class="form-select" name="category_name" id="floatingSelect" aria-label="State">
                        <!--<option selected>{{post.category_name}}</option>-->
                        <option value=None {{#if (eq post.category_name 'None')}}selected{{else}}{{/if}}>None</option>
                        {{#each categories}}
                        <option {{#if (eq ../post.category_name this.0.name)}}selected{{else}}{{/if}} value={{this.0.name}} >{{this.0.name}}</option>
                        {{/each}}
                      </select>
                      <label for="floatingSelect">Category</label>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </div>
                </form><!-- End floating Labels Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main><!-- End #main -->
    {{> _footer}}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    {{> _script}}
  </body>
</html>
