<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Category</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
        {{#each categories}}
        <a href="/posts/category/{{this.0.id}}/page/1">
          <i class="bi bi-circle"></i><span>{{this.0.name}} ({{this.1}})</span>
        </a>
        {{/each}}
      </ul>
    </li>
  </ul>

</aside><!-- End Sidebar-->
